API_PORT=4000

DATABASE_URL="postgresql://bagheri:bagheri_local_dev@localhost:5436/bagheri?schema=public"

WEB_ORIGIN="http://localhost:3000"

SMS_PROVIDER="smsir"
SMSIR_API_KEY=""
SMSIR_TEMPLATE_ID=""

OTP_EXPIRES_SECONDS=120
